@import "../../styles/mixins.scss";
.creationsMasonry {
  margin-top: 2em;
  margin-bottom: 2em;
  // margin-right: 2em;
  @include media(xsmallScreen, smallScreen) {
    max-width: 100dvw;
    overflow-x: scroll;
    margin-right: 0;
  }

  .creationSummary {
    width: 100%;
  }
}

.creations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  row-gap: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  justify-content: space-around;

  @include media(xsmallScreen, smallScreen) {
    max-width: 100dvw;
    overflow-x: scroll;
  }

  &.listView {
    &:focus {
      outline: none; // Optional: remove default focus outline
    }

    display: block;
    overflow-x: auto;
    margin-top: 0;
    border: 1px solid var(--border-color);

    @include media(xsmallScreen, smallScreen) {
      max-width: 100dvw;
      margin-right: 0;
    }
  }
}

.creationAuraContainer {
  height: 100%;
  width: 50%;
}

.creationAura {
  height: 100%;
  // TODO: this must match the numbers below
  min-width: 130px;
  aspect-ratio: 1;
  background: radial-gradient(
    circle,
    var(--aura-color) 0%,
    var(--aura-color) 20%,
    var(--aura-color-transparent) 100%
  );
  border-radius: 50% !important;
  box-shadow: 0 0 32px 16px var(--aura-color-transparent);
  display: block !important;
}

.creationSummary {
  // width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: flex-start;
  justify-content: flex-end;
  // margin-top: auto;
  border-radius: 0.25em;

  &.selected {
  }

  &.filtered {
    opacity: 0.2;
  }

  .subtextOverlay {
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(4px);
    text-shadow: none;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 0.5em;
    mix-blend-mode: hard-light;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .subtextOverlay p {
    color: var(--color-text-color);
    text-align: center;
    margin: 0;
  }

  .previewWrapper:hover .subtextOverlay {
    opacity: 1;
    display: flex;
  }

  .previewWrapper {
    display: inline;
    position: relative;
    transition: box-shadow 0.15s linear;
    border-radius: inherit;
    overflow: hidden;

    &.forthcoming {
      &::after {
        background: url("/assets/wip-banner.png");
        background-repeat: repeat-x;
        background-size: contain;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        width: 100%;
        // transform: rotate(-45deg);
        height: 20px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  img,
  video {
    @include image-dropshadow();
    background: radial-gradient(
      circle,
      var(--aura-color) 0%,
      var(--aura-color) 20%,
      var(--aura-color-transparent) 100%
    );

    transition: opacity 0.15s linear;
    object-fit: cover;
    // TODO: this mkaes videos transparent on chrome lol
    // border-radius: inherit;
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    max-height: 280px;
    // max-height: 300px;
    max-width: 350px;
    &.loading {
      animation: pulse-opacity 1.3s infinite ease-in-out;
    }
  }

  a {
    transition: background-color 0s linear !important;

    &.external {
      img,
      video {
        box-shadow: 0px 0px 0.8em 0.3em $color-external-link-translucent;
      }
    }

    img,
    video {
      box-shadow: 0px 0px 0.8em 0.3em $color-link-translucent;
    }
    &:hover {
      img,
      video {
        opacity: 0.6;
      }
    }
  }

  &.big {
    width: 800px;
    height: auto;
    background: hsl(53, 100%, 93%);
    padding: 1em 2em;
  }
}

.creationsView {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  margin-top: 1em;
  gap: 1em;

  .actions {
    select {
      max-width: 120px;
    }
    display: flex;
    gap: 1em;
    align-items: center;
    @include media(xsmallScreen, smallScreen) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.2em;
    }
    @include meta-content();
  }
  // @media screen and (max-width: 1670px) {
  //   .creationSummary {
  //     flex-basis: 33%;
  //   }
  // }
}

.row {
  display: grid;
  grid-template-columns: 80px 1fr 1fr 2fr 2fr;
  gap: 1rem;
  padding: 0.75rem 1rem;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  > * {
    padding: 0 0.3rem;
  }
}

.listViewRow {
  @extend .row;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  font-size: 0.8em;

  &:hover,
  &.selected {
    background-color: var(--color-neutral-background-hover);
  }

  &.filtered {
    opacity: 0.2;
  }

  .thumbnail {
    width: 100%;
    max-width: 80px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &.creationAura {
      min-width: 0px;
      margin: 0 auto;
      max-width: 80%;
      border-radius: 50%;
      box-shadow: 0 0 10px 4px var(--aura-color-transparent);
    }

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      min-width: unset;
      min-height: unset;
      max-height: unset;
      max-width: unset;
    }
  }

  .title {
    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .subtext {
    color: var(--color-text-muted);
  }
}

.listViewHeader {
  @extend .row;
  border-bottom: 2px solid var(--border-color);
  @extend .mono;
  color: var(--color-text-muted);
  font-size: 0.75em;
  text-transform: uppercase;

  div {
    &:nth-child(3) {
      // When column
      user-select: none;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
