$viewport-width: 500px;
$large-content-width: 1000px;
$navBar-height: 50px;
$color-light-grey: #9d9d9d;
$color-lighter-grey: rgba(112, 128, 144, 0.25);
$color-lighter-grey-background: rgba(112, 128, 144, 0.1);
$color-blueberry: rgb(97 110 129);
$color-blueberry-lighter: rgba(107, 122, 143, 0.7);
$color-sea-green: #e5f7e1;
$color-sea-green-darker: #d3e2cf;
$color-link: hsl(33, 100%, 56%);
$color-link-translucent: hsla(33, 100%, 56%, 0.7);
$color-external-link: hsl(118, 43%, 43%);
$color-external-link-translucent: hsla(118, 43%, 43%, 0.7);
// $color-highlight: #fef4ad;
$color-highlight: hsl(206.39deg 100% 65.95% / 80%);
// $color-highlight-dark: #665a02;
$color-highlight-dark: #023d66;
// $color-light-peach: hsl(53, 100%, 93%);
$color-light-peach: hsl(50.34deg 100% 93.89%);
// $color-light-peach: hsl(131 50% 98% / 1);
$color-light-peach-translucent: hsla(50.34deg 100% 93.89% / 40%);
$color-dark-blue-grey: rgba(95, 101, 128, 1);
$color-dark-blue-grey-background: rgba(95, 101, 128, 0.9);
$color-light-lavender: rgb(250, 248, 254);
$color-dark-lavender: rgb(57, 56, 60);
$color-site-background: $color-light-peach;
$color-site-background-translucent: $color-light-peach-translucent;
$color-neutral-background-light: hsl(50deg 100% 98%);
// $color-site-background-dark: hsla(100 50% 8% / 1);
$color-site-background-dark: hsl(204.86deg 50% 8%);
$color-site-background-dark-translucent: transparentize(
  $color-site-background-dark,
  0.4
);
$color-background-teal: #f4fdff87;
$color-background-teal-dark: #353c3d87;
$color-text-dark: rgb(227, 223, 226);
$color-quote-background-dark: rgb(47, 51, 54);
$default-font-size: 20px;
// $scaled-font-size: calc(min(max(18px, .75vw), 20px));
$paragraph-vertical-margin: 24px;
$default-line-height: 1.6;
$smaller-font-size: $default-font-size * 0.9;
$navbar-zindex: 999;
$color-text-color: #282828;
$color-text-color-white: rgb(235, 232, 227);
$color-text-accent-dark: rgb(152, 143, 129);
$header-container-margin: calc(max(#{$navBar-height + 30}, min(10vh, 100px)));
$color-telescopic-background-dark: rgba(196, 119, 2, 0.3);
$color-telescopic-background-dark-hover: rgba(196, 119, 2, 1);
$color-box-shadow: hsla(205, 54%, 16%, 0.4);
$color-box-shadow-dark: hsla(206, 100%, 95%, 0.4);
$color-glowing-highlight: rgb(255, 235, 12);
$color-glowing-highlight-dark: rgb(186 172 16);
$site-font: "Cooper", serif;
$site-font-header: "Cooper";
$site-font-serif: "Cooper", monospace;
$site-font-mono: "Sono", "Cousine";

$color-accent-background: rgb(249, 255, 76);
$color-accent-background-dark: rgb(234, 234, 111);

:root {
  color-scheme: light dark;
  background: $color-site-background;
  color: #{$color-text-color};

  --color-neutral-background: #{$color-neutral-background-light};
  --color-accent-background: #{$color-accent-background};
  --color-text-highlight: #{$color-highlight};
  --color-text-muted: #{$color-light-grey};
  --border-color: #{$color-light-grey};
  --color-background-lavender: #{$color-light-lavender};
  --color-background-teal: #{$color-background-teal};
  --color-text-accent: #{$color-blueberry};
  --color-text-color: #{$color-text-color};
  --telescope-text-color: #{$color-text-color};
  --color-neutral-background-translucent: #{$color-site-background-translucent};
  transition: color 0.2s ease-in-out;
  --color-box-shadow: #{$color-box-shadow};
  --color-glowing-highlight: #{$color-glowing-highlight};
  --color-neutral-background-hover: rgba(0, 0, 0, 0.05);

  // For email subscription widget
  #custom-substack-embed .custom-substack-widget {
    --csw-primary-color: #{$color-link};
    --csw-input-color: white;
    --csw-text-color: #{$color-text-color};
    --csw-input-text-color: #{$color-text-color};
  }

  /* For telescopic text styling */

  // #telescope .details {
  //   background-color: $color-blueberry;
  // }

  // #telescope .details.close:hover {
  //   background-color: $color-blueberry-lighter;
  // }

  .sans-serif &,
  &.sans-serif {
    font-family: $site-font;
  }

  .serif &,
  &.serif {
    font-family: $site-font-serif;
  }

  .mono &,
  &.mono {
    font-family: $site-font-mono;
  }

  &.dark-mode {
    // This is the default chrome background color in dark mode.
    // Need to explicitly set it to handle swapping to dark mode when the system setting is light mode.
    background: $color-site-background-dark;
    color: $color-text-color-white;
    --telescope-text-color: #{$color-text-color-white};
    --color-neutral-background: #{$color-quote-background-dark};
    --color-accent-background: #{$color-accent-background-dark};
    --color-text-highlight: #{$color-highlight-dark};
    --color-background-lavender: #{$color-dark-lavender};
    --color-background-teal: #{$color-background-teal-dark};
    --color-text-accent: #{$color-text-accent-dark};
    --color-text-color: #{$color-text-color-white};
    --color-neutral-background-translucent: #{$color-site-background-dark-translucent};
    --telescope-highlight: #{$color-telescopic-background-dark};
    --telescope-highlight-hover: #{$color-telescopic-background-dark-hover};
    --color-box-shadow: #{$color-box-shadow-dark};
    --color-glowing-highlight: #{$color-glowing-highlight-dark};
    --color-neutral-background-hover: rgba(255, 255, 255, 0.05);

    // For email subscription widget
    #custom-substack-embed .custom-substack-widget {
      --csw-primary-color: #{$color-background-teal-dark} !important;
      --csw-input-color: #{$color-quote-background-dark} !important;
      --csw-text-color: #{$color-text-color-white} !important;
      --csw-input-text-color: #{$color-text-color-white} !important;
    }

    #background#background {
      background-color: $color-site-background-dark;
    }
    #navbar#navbar {
      background-color: $color-site-background-dark;
    }
  }
}
