---
import { Footnote } from "../components/Footnote";
import SelectedCreationSummary from "../components/SelectedCreationSummary.astro";
import DetailLayout from "../layouts/DetailLayout.astro";

const LayoutProps = {
  title: "(collaborate)",
  description: "work with me...",
  date: "2024-04-11",
  image: "/collab.png",
  metaTitle: "work with ꜱᴘᴇɴᴄᴇʀ",
  emojis: [],
  titleClass: "uniform",
};
---

<DetailLayout {...LayoutProps}>
  <div class="listDescription textContent">
    <p>
      Spencer Chang is an engineer, artist, and designer stewarding the internet
      towards a medium for intimacy, creation, and solidarity.
    </p>
    <p>
      Spanning open-source infrastructure<Footnote
        client:only="react"
        url="/creation/playhtml">*</Footnote
      >, participatory<Footnote client:only="react" url="/creation/(we)-bsite"
        >*</Footnote
      > environments<Footnote client:only="react" url="/creation/html-garden"
        >*</Footnote
      >, creative<Footnote client:only="react" url="/creation/verses-verses"
        >*</Footnote
      > tools<Footnote client:only="react" url="/creation/fridge-poem"
        >*</Footnote
      >, and multimedia<Footnote client:only="react" url="/creation/SIGIL-I"
        >*</Footnote
      > installations<Footnote
        client:only="react"
        url="/creation/cursor-watching/about">*</Footnote
      >, their interdisciplinary and interdependent practice empower (and rely
      upon) visitors to make their own technological narratives and discover the
      poetics and solidarity latent in our everyday actions and encounters. In
      their focus on infrastructural work, Spencer continues the path laid by
      “maintenance art,” where “the working is the art,” to imagine, realize,
      and maintain an approach to technology as a conduit for communal humanity.
    </p>
    <p>
      Their work has been featured and supported by the de Young Museum,
      CultureHub, the Ethereum Foundation, MIT Technology Review, Frieze, and
      Gray Area.
    </p>
    <p>For a detailed resume or CV, contact me.</p>
    <div class="orgsImgGallery">
      <!-- COLLAB PICTURES -->
      <img src="/collab/orgs/newinc.png" alt="wordmark for NEW INC" />
      <img src="/collab/orgs/artlab.jpeg" alt="wordmark for Hyundai Artlab" />
      <img src="/collab/orgs/grayarea.png" alt="wordmark for Gray Area" />
      <img src="/collab/orgs/dirt.png" alt="wordmark for Dirt" />
      <img src="/collab/orgs/sfpc.jpg" alt="wordmark for SFPC" />
      <img
        src="/collab/orgs/asianartmuseum.png"
        alt="wordmark for Asian Art Museum"
        style="background: white;"
      />
      <img src="/collab/orgs/arena.webp" alt="wordmark for ARE.NA" />
      <img src="/collab/orgs/fwb.jpg" alt="wordmark for FWB" />
      <img src="/collab/orgs/rhizome.png" alt="wordmark for Rhizome" />
      <img
        src="/collab/orgs/ethfound.png"
        alt="wordmark for Ethereum Foundation"
        style="background: white;"
      />
      <img src="/collab/orgs/apossible.png" alt="wordmark for APOSSIBLE" />
    </div>
  </div>
  <div class="collab">
    <h3 id="invite">1. invite me to teach / speak</h3>
    <div class="imgGallery">
      <div class="imgContainer" style="padding: 1em;">
        <SelectedCreationSummary
          slug="touching-computers-creating-data-talismans"
        />
        <SelectedCreationSummary slug="neighborhood-internets-workshop" />
        <SelectedCreationSummary slug="reinternet" />
      </div>
    </div>
    <p>
      I've spoken across a range of institutions, including U. Penn., Gray Area,
      and for W3C community group meetings. I've led workshops internationally
      across Stanford University, SFPC, trust.support, and Internet Archive's
      DWeb Camp. Some examples include <a
        href="/creation/touching-computers-creating-data-talismans"
        >Touching Computers</a
      > and <a href="/creation/neighborhood-internets-workshop"
        >Neighborhood Internets</a
      >.
    </p>

    <p>
      <em
        >If you'd like to invite me, <a
          href="mailto:spencer@spencer.place?subject=[INVITATION]">email me</a
        > spencer@spencer.place with the subject "[INVITATION]"</em
      >
    </p>
    <h3 id="work">2. work with me</h3>
    <p>
      I create distinctive digital-physical experiences that bridge technology
      and art for brands seeking unexpected creative expressions. My work
      combines software engineering with interactive sculpture to craft
      memorable, tangible moments that generate authentic engagement.
    </p>
    <p>
      I'll lead concept development, rapid prototyping, and the end-to-end
      production of the digital and physical components. Every step will be
      collaborative, and we'll align on our collective visions before moving
      forward.
    </p>
    <p>
      Some things that I've worked on include: interactive sculptures that bring
      up custom digital experiences when tapped with a phone for your business
      or event, playful websites for media companies, standalone interactive
      games, and small companion tools<Footnote
        client:only="react"
        url="https://www.are.na/editorial/an-interview-with-spencer-chang"
      />.
    </p>

    <div class="imgGallery">
      <div class="imgContainer">
        <img
          class="lazyload"
          data-src="/collab/shrine-to-voice-06.jpg"
          alt="a red acrylic phone booth labeled 'phone' with a mobile phone inside showing a website embedded in the phone booth."
        />
        <img
          class="lazyload"
          data-src="/collab/field-companions-staged-1.jpg"
          alt="a grey stone with an orange piece in the center against a background of fall leaves"
        />
        <img
          class="lazyload"
          data-src="/collab/fortune-webstone.jpeg"
          alt="a blue-white ceramic fortune cookie"
        />
      </div>
    </div>
    <p></p>

    Some areas of interest...
    <ul>
      <!-- TODO: update this -->
      <li>
        platforms for open internet<Footnote
          client:only="react"
          url="/creation/playhtml"
          hoverImg="https://codaio.imgix.net/docs/_ObKm8enqO/blobs/bl-BliRr_OfeZ/31a3bda223877cab8f7b792298315cc838b5ecaa92900fe8ae2f4b192cc473ee64dee0823b390bcd94f9ac2ab04d7b51890adee7937300b6e5eccd38f8ce20a53b43113f607e3be8df6c89341907daf710c5752ad70860833c407e8df4706c4f7fe8057b?auto=format%2Ccompress&fit=max&w=1000"
          >*1</Footnote
        ><Footnote client:only="react" url="https://atproto.com/">*2</Footnote>
      </li>
      <li>
        community-embedded software systems<Footnote
          client:only="react"
          url="https://www.are.na/">*</Footnote
        >
      </li>
      <li>
        tangible computing interfaces<Footnote
          client:only="react"
          url="https://play.date/">*1</Footnote
        ><Footnote client:only="react" url="https://myterra.ai/">*2</Footnote>
      </li>
      <li>
        provocative internet experiences for art pieces or businesses<Footnote
          client:only="react"
          url="https://lens.tldraw.com/">*1</Footnote
        ><Footnote
          client:only="react"
          url="https://newsroom.spotify.com/2023-01-04/give-yourself-a-musical-surprise-in-january-2024-with-spotifys-playlist-in-a-bottle/"
          >*2</Footnote
        ><Footnote client:only="react" url="https://linkedtarot.com/"
          >*3</Footnote
        >
      </li>
      <li>
        communal digital experiences for launches, events, and collaboration
        websites<Footnote
          client:only="react"
          url="https://twitter.com/spencerc99/status/1771969525887779258"
          >*</Footnote
        >
      </li>
      <li>
        local-first app frameworks<Footnote
          client:only="react"
          url="/creation/gather">*</Footnote
        >
      </li>
      <li>
        developer creative tools<Footnote
          client:only="react"
          url="https://river.maxbittker.com/">*1</Footnote
        ><Footnote client:only="react" url="/creation/verses-verses"
          >*2</Footnote
        >
      </li>
    </ul>
    <p>
      <em
        >If you're interested in exploring working together, <a
          href="mailto:spencer@spencer.place?subject=[COLLAB]">email me</a
        > spencer@spencer.place with the subject "[COLLAB]"</em
      >
    </p>
    <h3 id="commission">3. commission me</h3>
    <p>
      I've exhibited internet art at the de Young Museum, CultureHub, and Gray
      Area and created work for NEW INC, Hyundai Artlab, and the Ethereum
      Foundation. I'd love to create more installations, both ones that build
      upon existing net art and infrastructural work and new creations.
    </p>
    <p>
      <em
        >If you have ideas that come to mind that you want to realize, <a
          href="mailto:spencer@spencer.place?subject=[COMMISSION]">email me</a
        > spencer@spencer.place with the subject "[COMMISSION]"</em>
    </p>
  </div>
</DetailLayout>

<style lang="scss">
  @import "../styles/variables.scss";
  .collab {
    display: block;
    max-width: $large-content-width;
    h3 {
      text-transform: uppercase;
      font-family: VT323, monospace;
    }
  }
</style>
