---
import { Footnote } from "../components/Footnote";
import SelectedCreationSummary from "../components/SelectedCreationSummary.astro";
import DetailLayout from "../layouts/DetailLayout.astro";

const LayoutProps = {
  title: "(collaborate)",
  description: "work with me...",
  date: "2024-04-11",
  image: "/collab.png",
  metaTitle: "work with ꜱᴘᴇɴᴄᴇʀ",
  emojis: [],
  titleClass: "uniform",
};
---

<DetailLayout {...LayoutProps}>
  <div class="listDescription textContent">
    <p>
      I'm an independent artist and designer and always open <span
        class="meta italic"
      >
        (pending availability<Footnote
          client:only="react"
          caption="try to contact me at least 2-3 months in advance"
        />)
      </span> to collaborate with creative and pioneering brands, organizations, and
      startups interested in experimenting with interactive technology experiences.
    </p>
    <p>
      I've created custom web experiences and physical-digital collectibles for
      organizations like <a href="/creation/clonefyi-website">Dirt Media</a>, <a
        href="https://www.metalabel.com/">Metalabel</a
      >, <a href="https://superhuman.com">Superhuman</a>, <a
        href="https://clay.com">Clay</a
      >, and the <a href="/creation/cip-webstones"
        >Collective Intelligence Project</a
      >.
    </p>
    <p>
      My work has been showcased and supported internationally, including by
      <a href="https://artlab.hyundai.com/">Hyundai Artlab</a> (Seoul), <a
        href="https://www.geidai.ac.jp/english/">Tokyo Geidai</a
      >
      (Tokyo), <a href="https://grayarea.org/">Gray Area</a> (San Francisco), <a
        href="https://culturehub.org/">CultureHub</a
      >
      (New York), <a href="https://wsa.nyc/">WSA</a> (New York), the <a
        href="https://movingimage.us/">Museum of Moving Image</a
      > (New York), <a href="https://www.alserkal.com/">Alserkal Avenue</a> (Dubai),
      and the <a href="https://deyoung.famsf.org/">de Young Museum</a> (San Francisco).
      Their projects have been featured in MIT Technology Review, It's Nice That,
      and Frieze, and supported through grants by the <a
        href="https://sfarts.org/">San Francisco Arts Commission</a
      >,
      <a href="https://apossible.org/">APOSSIBLE</a>, and the <a
        href="https://ethereum.foundation/">Ethereum Foundation</a
      >. A <a href="https://newinc.org/">NEW INC</a> (New Museum) Y11 member, I've
      taught and led workshops for institutions such as the <a
        href="https://sfpc.study/"
      >
        School for Poetic Computation
      </a>, Stanford University, and the <a href="https://asianart.org/"
        >Asian Art Museum</a
      >, among others around the world.
    </p>
    <div class="orgsImgGallery">
      <!-- COLLAB PICTURES -->
      <img src="/collab/orgs/newinc.png" alt="wordmark for NEW INC" />
      <img
        src="https://biennialfoundation.org/wp-content/uploads/2010/08/13152.jpg"
        alt="wordmark for the NEW MUSEUM"
      />
      <img src="/collab/orgs/artlab.jpeg" alt="wordmark for Hyundai Artlab" />
      <img src="/collab/orgs/grayarea.png" alt="wordmark for Gray Area" />
      <img src="/collab/orgs/dirt.png" alt="wordmark for Dirt" />
      <img src="/collab/orgs/sfpc.jpg" alt="wordmark for SFPC" />
      <img
        src="/collab/orgs/asianartmuseum.png"
        alt="wordmark for Asian Art Museum"
        style="background: white;"
      />
      <img src="/collab/orgs/rhizome.png" alt="wordmark for Rhizome" />
      <img
        src="/collab/orgs/ethfound.png"
        alt="wordmark for Ethereum Foundation"
        style="background: white;"
      />
      <img src="/collab/orgs/apossible.png" alt="wordmark for APOSSIBLE" />
    </div>
  </div>
  <div class="collab">
    <h3 id="invite">1. invite me to teach / speak</h3>
    <div class="imgGallery">
      <div class="imgContainer" style="padding: 1em;">
        <SelectedCreationSummary
          slug="touching-computers-creating-data-talismans"
        />
        <SelectedCreationSummary slug="walking-on-the-internet-together" />
        <SelectedCreationSummary
          slug="artist-talk---perpetual-motion-machine"
        />
      </div>
    </div>
    <p>
      I've spoken across a range of institutions, including for NEW INC (the New
      Museum's incubator), Gray Area, and for W3C community group meetings. I've
      led workshops internationally across Stanford University, SFPC,
      trust.support, and Internet Archive's DWeb Camp. Some examples include <a
        href="/creation/touching-computers-creating-data-talismans"
        >Touching Computers</a
      > and <a href="/creation/neighborhood-internets-workshop"
        >Neighborhood Internets</a
      >.
    </p>

    <p>
      <em
        >If you'd like to invite me, <a
          href="mailto:hi@spencer.place?subject=[INVITATION]">email me</a
        > hi@spencer.place with the subject "[INVITATION]"</em
      >
    </p>
    <h3 id="work">2. work with me</h3>
    <p>
      I create distinctive digital-physical experiences that bridge technology
      and art for brands seeking unexpected creative expressions. My work
      combines software engineering with interactive sculpture to craft
      memorable, tangible moments that generate authentic engagement.
    </p>
    <p>
      I'll lead concept development, rapid prototyping, and the end-to-end
      production of the digital and physical components. Every step will be
      collaborative, and we'll align on our collective visions before moving
      forward.
    </p>
    <p>
      Some things that I've worked on include: interactive sculptures that bring
      up custom digital experiences when tapped with a phone for your business
      or event, playful websites for media companies, standalone interactive
      games, and small companion tools<Footnote
        client:only="react"
        url="https://www.are.na/editorial/an-interview-with-spencer-chang"
      />.
    </p>

    <div class="imgGallery">
      <div class="imgContainer" style="padding: 1em;">
        <SelectedCreationSummary slug="computing-shrines" />
        <SelectedCreationSummary slug="everyday" />
        <SelectedCreationSummary slug="alive-internet-theory" />
      </div>
    </div>
    <p></p>

    Some areas of interest...
    <ul class="list-disc list-inside">
      <!-- TODO: update this -->
      <li>
        platforms for open internet<Footnote
          client:only="react"
          url="/creation/playhtml"
          hoverImg="https://codaio.imgix.net/docs/_ObKm8enqO/blobs/bl-BliRr_OfeZ/31a3bda223877cab8f7b792298315cc838b5ecaa92900fe8ae2f4b192cc473ee64dee0823b390bcd94f9ac2ab04d7b51890adee7937300b6e5eccd38f8ce20a53b43113f607e3be8df6c89341907daf710c5752ad70860833c407e8df4706c4f7fe8057b?auto=format%2Ccompress&fit=max&w=1000"
          >*1</Footnote
        ><Footnote client:only="react" url="https://atproto.com/">*2</Footnote>
      </li>
      <li>
        community-embedded software systems<Footnote
          client:only="react"
          url="https://www.are.na/">*</Footnote
        >
      </li>
      <li>
        tangible computing interfaces<Footnote
          client:only="react"
          url="https://play.date/">*1</Footnote
        ><Footnote client:only="react" url="https://myterra.ai/">*2</Footnote>
      </li>
      <li>
        provocative internet experiences for art pieces or businesses<Footnote
          client:only="react"
          url="https://lens.tldraw.com/">*1</Footnote
        ><Footnote
          client:only="react"
          url="https://newsroom.spotify.com/2023-01-04/give-yourself-a-musical-surprise-in-january-2024-with-spotifys-playlist-in-a-bottle/"
          >*2</Footnote
        ><Footnote client:only="react" url="https://linkedtarot.com/"
          >*3</Footnote
        >
      </li>
      <li>
        communal digital experiences for launches, events, and collaboration
        websites<Footnote
          client:only="react"
          url="https://twitter.com/spencerc99/status/1771969525887779258"
          >*</Footnote
        >
      </li>
      <li>
        local-first app frameworks<Footnote
          client:only="react"
          url="/creation/gather">*</Footnote
        >
      </li>
      <li>
        developer creative tools<Footnote
          client:only="react"
          url="https://river.maxbittker.com/">*1</Footnote
        ><Footnote client:only="react" url="/creation/verses-verses"
          >*2</Footnote
        >
      </li>
    </ul>
    <p>
      <em
        >If you're interested in exploring working together, <a
          href="mailto:hi@spencer.place?subject=[COLLAB]">email me</a
        > hi@spencer.place with the subject "[COLLAB]"</em
      >
    </p>
    <h3 id="commission">3. get involved</h3>
    <div class="imgGallery">
      <div class="imgContainer" style="padding: 1em;">
        <SelectedCreationSummary slug="poems-we-found-with-the-internet" />
        <SelectedCreationSummary slug="sharing-stories" />
        <SelectedCreationSummary slug="touching-computers-nfc-as-ritual" />
      </div>
    </div>
    <p>
      I'm looking for help with my projects across maintaining open-source <a
        href="/creation/playhtml">libraries</a
      >, managing a small <a href="/creation/internet-sculptures"
        >design object business</a
      >
      , creating new <a href="/creation/touching-computers-nfc-as-ritual"
        >workshops</a
      >, and reaching new audiences on social media. Whatever your experience if
      you're interested in getting involved and seeing what happens behind the
      scenes, reach out!
    </p>
    <p>
      <em
        >If you're interested in getting involved, <a
          href="mailto:hi@spencer.place?subject=[INVOLVE ME]">email me</a
        > hi@spencer.place with the subject "[INVOLVE ME]"</em
      >
    </p>
  </div>
</DetailLayout>

<style lang="scss">
  @import "../styles/variables.scss";
  .collab {
    display: block;
    max-width: $large-content-width;
    h3 {
      text-transform: uppercase;
      font-weight: 800;
    }
  }
</style>
