---
import DetailLayout from "../layouts/DetailLayout.astro";

const LayoutProps = {
    title: "(collaborate)",
    description: "work with me...",
    date: "2024-04-11",
    // image: "https://personal-apple-photos.s3.us-west-2.amazonaws.com/fits-stream/,2021-06-27_edited.jpeg",
    emojis: [],
  titleClass: 'uniform'
}
---
<DetailLayout  {...LayoutProps}>
    <div class="listDescription textContent">
        <p>Spencer Chang is an engineer, artist, and designer stewarding the internet towards a medium for intimacy, creation, and solidarity. </p>
        <p>Spanning open-source infrastructure<a href="/creation/playhtml" class="footnote">*</a>, participatory<a href="/creation/(we)-bsite" class="footnote">*</a> environments<a class="footnote" href="/creation/html-garden">*</a>, creative<a class="footnote" href="/creation/verses-verses">*</a> tools<a class="footnote" href="/creation/fridge-poem">*</a>, and multimedia<a class="footnote" href="/creation/SIGIL-I">*</a> installations<a class="footnote" href="/creation/cursor-watching/about">*</a>, their interdisciplinary and interdependent practice empower (and rely upon) visitors to make their own technological narratives and discover the poetics and solidarity latent in our everyday actions and encounters. In their focus on infrastructural work, Spencer continues the path laid by “maintenance art,” where “the working is the art,” to imagine, realize, and maintain an approach to technology as a conduit for communal humanity. </p>
        <p>Their work has been featured and supported by the de Young Museum, CultureHub, the Ethereum Foundation, MIT Technology Review, Frieze, and Gray Area.</p>
    </div>
    <div class="collab">
        <h3 >1. invite me to speak / teach / install</h3>
        <!-- TODO: photos -->
        <p>I've spoken across a range of institutions, including U. Penn., Gray Area, and for W3C community group meetings. I've led workshops at Stanford University and Gray Area.</p>
        <p>I've exhibited multimedia installations and internet art at Gray Area, the de Young Museum, and CultureHub. I'd love to create more installations, both ones that build upon existing net art and infrastructural work and new creations.</p>
        <p><em>If you'd like to invite me, email spencerc99 at gmail dot com</em></p>
        <h3>2. commission me</h3>
        <!-- TODO: photos -->
            <p>I run a hybrid lab-studio for physical artifacts. I create computation-infused physical artifacts (e.g. <a href="/creation/SIGIL-I/">SIGIL I</a>, fortune cookies that link to an app experience, or invites that open to a personalized website). I'm available for custom commisssions of integrated digital-physical experiences that can be customized to receipients.</p>
            <p><em>If you have ideas that come to mind that you want to realize, email spencerc99 at gmail dot com</em></p>
        <h3>3. work with me</h3>
        <em>open to collaborations & custom commissions for late summer / fall of 2024</em>
        <!-- TODO: photos -->
        <p>I can provide freelance ideation, prototyping, design, programming and engineering. I excel at creative interface and system design and prototype designs rapidly through code, while identifying a path to scalable implementation.</p>
        
            <p> I'm interested in:</p>
            <ul>
            <li>provocative internet experiences for art pieces or businesses<a href="https://lens.tldraw.com/" class="footnote" >*1</a><a href="https://newsroom.spotify.com/2023-01-04/give-yourself-a-musical-surprise-in-january-2024-with-spotifys-playlist-in-a-bottle/" class="footnote" >*2</a><a href="https://linkedtarot.com/" class="footnote" >*3</a></li>
            <li>communal digital experiences for launches, events, and collaboration websites<a href="https://twitter.com/spencerc99/status/1771969525887779258" class="footnote" >*</a></li>
            <li>open internet infrastructure (e.g. <a href="https://atproto.com/">AT Protocol</a>)</li>
            <li>community-embedded software systems (e.g. <a href="https://www.are.na/">Are.na</a>)</li>
            <li>tangible computing interfaces (e.g. <a href="https://play.date/">playdate</a>, <a href="https://myterra.ai/">terra</a>)</li>
            <li>local-first apps (e.g. <a href="/creation/gather">Gather</a>) </li>
            <li>developer creative tools<a class="footnote" href="https://river.maxbittker.com/">*1</a><a href="/creation/verses-verses" class="footnote" >*2</a></li>
        </ul>
        <p><em>If you're interested in exploring working together, email spencerc99 at gmail dot com</em></p>
    </div>
    <style lang="scss">
        @import "../styles/variables.scss";
        .collab {
            display: block;
            max-width: $large-content-width;
            h3 {
                text-transform: uppercase;
                font-family: VT323, monospace;
            }
        }
    </style>
</DetailLayout>
