---
import { Footnote } from "../components/Footnote";
import DetailLayout from "../layouts/DetailLayout.astro";

const LayoutProps = {
  title: "(collaborate)",
  description: "work with me...",
  date: "2024-04-11",
  image: "/collab.png",
  metaTitle: "work with 𝚜𝚙𝚎𝚗𝚌𝚎𝚛",
  emojis: [],
  titleClass: "uniform",
};
---

<DetailLayout {...LayoutProps}>
  <div class="listDescription textContent">
    <p>
      Spencer Chang is an engineer, artist, and designer stewarding the internet
      towards a medium for intimacy, creation, and solidarity.
    </p>
    <p>
      Spanning open-source infrastructure<Footnote
        client:only="react"
        url="/creation/playhtml">*</Footnote
      >, participatory<Footnote client:only="react" url="/creation/(we)-bsite"
        >*</Footnote
      > environments<Footnote client:only="react" url="/creation/html-garden"
        >*</Footnote
      >, creative<Footnote client:only="react" url="/creation/verses-verses"
        >*</Footnote
      > tools<Footnote client:only="react" url="/creation/fridge-poem"
        >*</Footnote
      >, and multimedia<Footnote client:only="react" url="/creation/SIGIL-I"
        >*</Footnote
      > installations<Footnote
        client:only="react"
        url="/creation/cursor-watching/about">*</Footnote
      >, their interdisciplinary and interdependent practice empower (and rely
      upon) visitors to make their own technological narratives and discover the
      poetics and solidarity latent in our everyday actions and encounters. In
      their focus on infrastructural work, Spencer continues the path laid by
      “maintenance art,” where “the working is the art,” to imagine, realize,
      and maintain an approach to technology as a conduit for communal humanity.
    </p>
    <p>
      Their work has been featured and supported by the de Young Museum,
      CultureHub, the Ethereum Foundation, MIT Technology Review, Frieze, and
      Gray Area.
    </p>
    <p>For a detailed resume or CV, contact me.</p>
    <div class="orgsImgGallery">
      <!-- COLLAB PICTURES -->
      <img src="/collab/orgs/newinc.png" alt="wordmark for NEW INC" />
      <img src="/collab/orgs/artlab.jpeg" alt="wordmark for Hyundai Artlab" />
      <img src="/collab/orgs/grayarea.png" alt="wordmark for Gray Area" />
      <img src="/collab/orgs/dirt.png" alt="wordmark for Dirt" />
      <img src="/collab/orgs/sfpc.jpg" alt="wordmark for SFPC" />
      <img
        src="/collab/orgs/asianartmuseum.png"
        alt="wordmark for Asian Art Museum"
        style="background: white;"
      />
      <img src="/collab/orgs/arena.webp" alt="wordmark for ARE.NA" />
      <img src="/collab/orgs/fwb.jpg" alt="wordmark for FWB" />
      <img src="/collab/orgs/rhizome.png" alt="wordmark for Rhizome" />
      <img
        src="/collab/orgs/ethfound.png"
        alt="wordmark for Ethereum Foundation"
        style="background: white;"
      />
      <img src="/collab/orgs/apossible.png" alt="wordmark for APOSSIBLE" />
    </div>
  </div>
  <div class="collab">
    <h3 id="invite">1. invite me to speak / teach / install</h3>
    <div class="imgGallery">
      <div class="imgContainer">
        <img
          class="lazyload"
          data-src="/collab/html-garden-culturehub.png"
          alt="a group of people taking a picture in front of a large projection of html garden in an outdoor patio"
        />
        <img
          class="lazyload"
          data-src="/collab/communal-computing-workshop-dweb.png"
          alt="10-20 people seated on blankets on the ground on a sunny day"
        />
        <img
          class="lazyload"
          data-src="/collab/tiny-internets-workshop.png"
          alt="a crowded room watching a small presentation"
        />
      </div>
    </div>
    <p>
      I've spoken across a range of institutions, including U. Penn., Gray Area,
      and for W3C community group meetings. I've led workshops at Stanford
      University, SFPC, and Internet Archive's DWeb Camp.
    </p>
    <p>
      I've exhibited internet art at the de Young Museum, CultureHub, and Gray
      Area and created work for NEW INC, Hyundai Artlab, and the Ethereum
      Foundation. I'd love to create more installations, both ones that build
      upon existing net art and infrastructural work and new creations.
    </p>
    <p>
      <em
        >If you'd like to invite me, email <a
          href="mailto:spencer@spencer.place">spencer@spencer.place</a
        > with the subject "[INVITATION]"</em
      >
    </p>
    <h3 id="commission">2. commission me</h3>
    <div class="imgGallery">
      <div class="imgContainer">
        <img
          class="lazyload"
          data-src="/collab/sigil-I-stitched-phone-tapping.png"
          alt="a stitched photo of a ceramic charm tapped to a phone and triggering a website prompt"
        />
        <img
          class="lazyload"
          data-src="/collab/sigils.png"
          alt="a set of ceramic charms with different colors and iconographies"
        />
        <img
          class="lazyload"
          data-src="/collab/fortune-cookie.png"
          alt="a marbled red ceramic fortune cookie with a note tied to it with red string"
        />
        <img
          class="lazyload"
          data-src="/collab/tabi-incense-holder.png"
          alt="a blue-white ceramic tabi boot holding a stick of incense in between the toes"
        />
      </div>
    </div>
    <p>
      I run a hybrid lab-studio for physical artifacts. I create
      computation-infused physical artifacts (e.g. <a href="/creation/SIGIL-I/"
        >SIGIL I</a
      >, fortune cookies that link to an app experience, or invites that open to
      a personalized website). I'm available for custom commisssions of
      integrated digital-physical experiences that can be customized to
      receipients.
    </p>
    <p>
      <em
        >If you have ideas that come to mind that you want to realize, email <a
          href="mailto:spencer@spencer.place">spencer@spencer.place</a
        > with the subject "[OBJECT]"</em
      >
    </p>
    <h3 id="work">3. work with me</h3>
    <em>open to collaborations & custom commissions on demand</em>

    <p>
      I can provide freelance ideation, prototyping, design, programming and
      engineering. I excel at creative interface and system design and prototype
      designs rapidly through code, while identifying a path to scalable
      implementation.
    </p>
    <p>
      Some things that I've been experimenting with include: interactive hero
      experiences for landing pages that showcase your product philosophy,
      standalone interactive games, and small companion tools<Footnote
        client:only="react"
        url="https://www.are.na/editorial/an-interview-with-spencer-chang"
      />.
    </p>
    <p>
      I'm interested in creating internet infrastructure and computing
      interfaces that enable agency, intimacy, and solidarity (<a
        href="/posts/one-year-research#what-i-do--care-about"
        >more on what I care about</a
      >).
    </p>

    Some areas of interest...
    <ul>
      <li>
        infrastructure for an open internet<Footnote
          client:only="react"
          url="/creation/playhtml"
          hoverImg="https://codaio.imgix.net/docs/_ObKm8enqO/blobs/bl-BliRr_OfeZ/31a3bda223877cab8f7b792298315cc838b5ecaa92900fe8ae2f4b192cc473ee64dee0823b390bcd94f9ac2ab04d7b51890adee7937300b6e5eccd38f8ce20a53b43113f607e3be8df6c89341907daf710c5752ad70860833c407e8df4706c4f7fe8057b?auto=format%2Ccompress&fit=max&w=1000"
          >*1</Footnote
        ><Footnote client:only="react" url="https://atproto.com/">*2</Footnote>
      </li>
      <li>
        community-embedded software systems<Footnote
          client:only="react"
          url="https://www.are.na/">*</Footnote
        >
      </li>
      <li>
        tangible computing interfaces<Footnote
          client:only="react"
          url="https://play.date/">*1</Footnote
        ><Footnote client:only="react" url="https://myterra.ai/">*2</Footnote>
      </li>
      <li>
        provocative internet experiences for art pieces or businesses<Footnote
          client:only="react"
          url="https://lens.tldraw.com/">*1</Footnote
        ><Footnote
          client:only="react"
          url="https://newsroom.spotify.com/2023-01-04/give-yourself-a-musical-surprise-in-january-2024-with-spotifys-playlist-in-a-bottle/"
          >*2</Footnote
        ><Footnote client:only="react" url="https://linkedtarot.com/"
          >*3</Footnote
        >
      </li>
      <li>
        communal digital experiences for launches, events, and collaboration
        websites<Footnote
          client:only="react"
          url="https://twitter.com/spencerc99/status/1771969525887779258"
          >*</Footnote
        >
      </li>
      <li>
        local-first app frameworks<Footnote
          client:only="react"
          url="/creation/gather">*</Footnote
        >
      </li>
      <li>
        developer creative tools<Footnote
          client:only="react"
          url="https://river.maxbittker.com/">*1</Footnote
        ><Footnote client:only="react" url="/creation/verses-verses"
          >*2</Footnote
        >
      </li>
    </ul>
    <p>
      <em
        >If you're interested in exploring working together, email <a
          href="mailto:spencer@spencer.place">spencer@spencer.place</a
        > with the subject "[COLLAB]"</em
      >
    </p>
  </div>
  <style lang="scss">
    @import "../styles/variables.scss";
    .collab {
      display: block;
      max-width: $large-content-width;
      h3 {
        text-transform: uppercase;
        font-family: VT323, monospace;
      }
    }
  </style>
</DetailLayout>
