---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout centered>
  <div class="headerContainer">
    <!-- TODO: embed not working -->
    <iframe
      src="https://coda.io/embed/JWcpiiVAow/_surtDyWl"
      width="900"
      height="500"
      style="max-width: 100%;"
      allow="fullscreen"></iframe>
  </div>
</BaseLayout>
