---
import { Footnote } from "../components/Footnote";
import fitsData from "../data/fits.json";
import Status from "../components/Status.astro";
import { FitsCarousel } from "../components/views/FitsCarousel";
import DetailLayout from "../layouts/DetailLayout.astro";
import { FeedCard } from "../components/FeedCard";
import type { Fit } from "../components/views/Fits";
import "../styles/feed.scss";
import { getCollection } from "astro:content";

const LayoutProps = {
  title: "(feed)",
  description: "all my digital debris...",
  date: "2024-12-28",
  image: "/feed.png",
  metaTitle: "ðšœðš™ðšŽðš—ðšŒðšŽðš›'s feed",
  emojis: [],
  titleClass: "uniform",
};

const sortedFits = (fitsData.fits as Fit[]).sort(
  (a, b) => b.timestamp - a.timestamp
);
const lastFit = sortedFits[0];

// const sortedPosts = getCollection("posts").sort(
//   (a, b) => b.pubDate.getTime() - a.pubDate.getTime()
// );
// const lastPost = sortedPosts[0];

// const sortedCreations = getCollection("creation").sort(
//   (a, b) => b.date.getTime() - a.date.getTime()
// );
// const lastCreation = sortedCreations[0];
---

<DetailLayout {...LayoutProps} columns={1}>
  <div class="textContent">
    <p>all my digital debris</p>
  </div>

  <div class="gridContainer">
    <div class="window">
      <Status />
    </div>

    <div class="window">
      <FeedCard title="FIT" icon="ðŸ‘”" allLink="/fits">
        <FitsCarousel fits={sortedFits} client:only="react" />
      </FeedCard>
    </div>
    <!-- post -->
    <!-- <div class="window">
      <FeedCard title="POST" icon="ðŸ“°" client:only="react">
        <PostsCarousel posts={sortedPosts} client:only="react" />
      </FeedCard>
    </div> -->
    <!-- creation -->
    <!-- press -->
    <!-- event -->
  </div>
</DetailLayout>
