---
import { Footnote } from "../components/Footnote";
import fitsData from "../data/fits.json";
import Status from "../components/Status.astro";
import { FitsCarousel } from "../components/views/FitsCarousel";
import DetailLayout from "../layouts/DetailLayout.astro";
import { FeedCard } from "../components/FeedCard";
import type { Fit } from "../components/views/Fits";
import "../styles/feed.scss";

const LayoutProps = {
  title: "(feed)",
  description: "all my digital debris...",
  date: "2024-12-28",
  image: "/feed.png",
  metaTitle: "ðšœðš™ðšŽðš—ðšŒðšŽðš›'s feed",
  emojis: [],
  titleClass: "uniform",
};

const sortedFits = (fitsData.fits as Fit[]).sort(
  (a, b) => b.timestamp - a.timestamp
);
const lastFit = sortedFits[0];
---

<DetailLayout {...LayoutProps} columns={1}>
  <div class="listDescription textContent">
    <p>all my digital debris</p>
  </div>

  <div class="gridContainer">
    <div class="status-window">
      <Status />
    </div>

    <div class="fits-window">
      <FeedCard title="FIT" icon="ðŸ‘”" client:only="react">
        <FitsCarousel fits={sortedFits} client:only="react" />
      </FeedCard>
    </div>
  </div>
</DetailLayout>
