---
import { Footnote } from "../components/Footnote";
import { NowBlock } from "../components/Now";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { CreationsView } from "../components/views/CreationsView";
import Trinkets from "../components/Trinkets.astro";
import Signature from "../components/Signature";

const location = await fetch(
  "https://status.spencerchang.me/api/metadata"
).then((res) => res.json());

const creations = (await getCollection("creation"))
  .filter(
    (c) =>
      (Boolean(c.data.heroImage) && c.data.featured) ||
      (c.data.isEvent && c.data.forthcoming)
  )
  .sort((a, b) =>
    // sort forthcoming first and then by date
    a.data.forthcoming === b.data.forthcoming
      ? new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
      : a.data.forthcoming
        ? -1
        : 1
  );
---

<BaseLayout includeMarquee={true}>
  <div class="two-columns">
    <div class="headerContainer home textContent">
      <div class="textContent">
        <p>
          Hi, I'm <Footnote
            asChild
            caption="hi! hover around other parts of the site and you might find other hidden treasures."
            client:only="react">Spencer</Footnote
          >. Welcome to my internet home.
        </p>
        <img
          class="lamp"
          id="lamp-akari"
          src="/assets/akari-22n.png"
          can-toggle
          title="this is one of my favorite Noguchi lamps..."
        />
        <p>
          I'm interested in making communal computers<Footnote
            client:only="react"
            hoverImg="/footnotes/people-and-computers.png"
            caption='My independent practice is focused around the idea of "communal computing," or computing that is made by _us_ for _us_. You can read more in this [interview I did with Are.na](https://www.are.na/editorial/an-interview-with-spencer-chang)'
          /> that gather people around play, connection, and creation. I'm an artist,
          engineer, and designer making things like open-source infrastructure<Footnote
            client:only="react"
            caption="for making a more handmade and cared for internet"
          />, small apps<Footnote
            client:only="react"
            imageSrc="https://codaio.imgix.net/docs/_ObKm8enqO/blobs/bl-CNxtIJ2qWy/e32bd526c5d5feb83e8b5132510677bba717ef5e04a8080c9f259bf66da3e261ab189aaa3a664fee6951b90a14a6d839fdaa2140456cc162a86c5fd326ce3bbc7cb24ab66363b1b9ea9b40e1802a5cff3bc9f72f9dc02488e129321442ddbcf166665982?auto=format%2Ccompress&fit=max&w=1000"
            caption="an <a href='/creation/gather'>app</a> for recording your curiosities"
            isHtmlCaption
          />, internet art<Footnote
            client:only="react"
            imageSrc="/footnotes/botanus-still-transparent.png"
            hoverImg="/footnotes/botanus-still.png"
            isHtmlCaption
            caption="from my internet <a href='/creation/html-garden'>garden</a>"
          />, and interactive sculptures<Footnote
            client:only="react"
            imageSrc="/footnotes/sigil-ii-transparent.png"
            hoverImg="https://codaio.imgix.net/docs/_ObKm8enqO/blobs/bl-_oF1Z2Cgv5/e2a2a3580891820d7a19c46bd907160948e125676cfd4be0f8a81157b18658759233817d582444e29b30c85aaa5783c5f8d2c7fa50b10745d3f018281dd93fcd74b20753b513074257bfd9b23f29533d83d514e670112b2a9d12bf5adfa679d81fd056f0?auto=format%2Ccompress&fit=max&w=400"
            caption="the webstone I carry around to hold this very website (read about <a href='https://spencerchang.substack.com/p/touching-computers'>it here</a>)!"
            isHtmlCaption
          />.
        </p>
        <p>
          These works are shown in galleries, taught with organizations, and
          most importantly, live in the world among us—whether as objects in
          people's homes or as the internet equivalent of neighborhood gathering
          spaces and local artisans. I care about "art [as] an engineering,
          sculpture a structuring"<Footnote
            client:only="react"
            caption="from Isamu Noguchi's autobiography"
            hoverImg="/footnotes/noguchi-art-as-engineering.jpeg"
          />, design that provokes and instigates, and artifacts that entangle
          with our everyday lives and each other.
        </p>
        <p>
          In all I do, I try to be an "internet caretaker"<Footnote
            client:only="react"
            url="https://www.naiveweekly.com/p/url-poetry-club?publication_id=3348&post_id=136896792&isFreemail=true&r=2037y"
          />, stewarding the internet towards a space that enables us to not
          only love & support each other but also create & dream together in a
          way that moves beyond the virtual into our everyday lives and
          communities.
        </p>
        <p>
          My work is supported by my generous <a href="/support">sponsors</a>.
          You can <a href="https://spencerchang.substack.com"
            >subscribe to my mailing list</a
          > to hear about new work and reflections on carving out an independent
          creative practice.
        </p>
        <Signature client:only="react" />
        <br />
        <NowBlock client:only="react" />
      </div>
    </div>
    <!-- BODY -->
    <!-- TODO: replace this with kaleidoscope or feral.earth stuff -->
    <CreationsView
      creations={creations}
      description={"selected"}
      columns={2}
      client:only="react"
    />
  </div>
</BaseLayout>

<!-- window embeds -->
<!-- TODO: need to fix scroll hijacking and the perf -->
<!-- <div class="window" style="left: 1%; top:23%;"><iframe src="https://spencerchang.me/window#sky"></iframe></div>
<div class="window" style="right: 2%; top:23%;"><iframe src="https://spencerchang.me/window#selfie"></iframe></div>
<div class="window" style="left: 2.5%; top:73%;"><iframe src="https://spencerchang.me/window#vignette"></iframe></div> -->
