---
import { Footnote } from "../components/Footnote";
import { NowBlock } from "../components/Now";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { CreationsView } from "../components/views/CreationsView";
import Signature from "../components/Signature";
import Status from "../components/Status.astro";
import { hydrateCreations } from "../utils/creations";

const creations = hydrateCreations(await getCollection("creation"))
  .filter(
    (c) =>
      (Boolean(c.data.heroImage) && c.data.featured) ||
      (c.data.isEvent && c.data.forthcoming)
  )
  .sort((a, b) => {
    // sort forthcoming first and then by date
    if (a.data.forthcoming !== b.data.forthcoming) {
      return a.data.forthcoming ? -1 : 1;
    }
    return new Date(b.data.date || 0).getTime() - new Date(a.data.date || 0).getTime();
  });
---

<BaseLayout>
  <div class="two-columns">
    <div class="headerContainer home textContent">
      <div class="textContent">
        <p style="line-height: 1.2">
          Hi, I'm <Footnote
            asChild
            caption="hi! hover around other parts of the site and you might find other hidden treasures."
            client:only="react">Spencer</Footnote
          >. Welcome to my internet home.<br /><i class="meta serif"
            >hint: this is a living space<Footnote
              caption="made possible using [playhtml](https://playhtml.fun)"
              client:only="react"
            /> and actively shaped by visitors. Try changing the lights, moving the
            furniture, or leaving a note. Be respectful, treat it like visiting a
            friend's home.</i
          >
        </p>
        <Footnote
          asChild
          caption="this is one of my favorite Noguchi lamps... and anyone who visits can turn it on or off for everyone else (in real-time)!"
          client:only="react"
          containerStyle={{ float: "right" }}
        >
          <img
            class="lamp"
            id="lamp-akari"
            src="/assets/akari-22n.png"
            can-toggle
            shared
          />
        </Footnote>
        <p>
          I'm interested in making communal computers<Footnote
            client:only="react"
            hoverImg="/footnotes/people-and-computers.png"
            caption='My independent practice is focused around the idea of "communal computing," or computing that is made by _us_ for _us_. You can read more in this [interview I did with Are.na](https://www.are.na/editorial/an-interview-with-spencer-chang)'
          /> that gather people around play, connection, and creation. I'm an artist,
          designer, and toymaker making things like open-source infrastructure<Footnote
            client:only="react"
            caption="for making a more handmade and cared for internet"
          />, small apps<Footnote
            client:only="react"
            imageSrc="https://codaio.imgix.net/docs/_ObKm8enqO/blobs/bl-CNxtIJ2qWy/e32bd526c5d5feb83e8b5132510677bba717ef5e04a8080c9f259bf66da3e261ab189aaa3a664fee6951b90a14a6d839fdaa2140456cc162a86c5fd326ce3bbc7cb24ab66363b1b9ea9b40e1802a5cff3bc9f72f9dc02488e129321442ddbcf166665982?auto=format%2Ccompress&fit=max&w=1000"
            caption="an <a href='/creation/gather'>app</a> for recording your curiosities"
            isHtmlCaption
          />, internet art<Footnote
            client:only="react"
            imageSrc="/footnotes/botanus-still-transparent.png"
            hoverImg="/footnotes/botanus-still.png"
            isHtmlCaption
            caption="from my internet <a href='/creation/html-garden'>garden</a>"
          />, and interactive sculptures<Footnote
            client:only="react"
            imageSrc="/footnotes/sigil-ii-transparent.png"
            hoverImg="https://codaio.imgix.net/docs/_ObKm8enqO/blobs/bl-_oF1Z2Cgv5/e2a2a3580891820d7a19c46bd907160948e125676cfd4be0f8a81157b18658759233817d582444e29b30c85aaa5783c5f8d2c7fa50b10745d3f018281dd93fcd74b20753b513074257bfd9b23f29533d83d514e670112b2a9d12bf5adfa679d81fd056f0?auto=format%2Ccompress&fit=max&w=400"
            caption="the webstone I carry around to hold this very website (read about <a href='https://spencerchang.substack.com/p/touching-computers'>it here</a>)!"
            isHtmlCaption
          />.
        </p>
        <p>
          These works are installed in spaces, taught with organizations, and
          most importantly, live in the world among us—whether as objects in
          people's homes or as the internet equivalent of neighborhood gathering
          spaces and local artisans. I care about "art [as] an engineering,
          sculpture a structuring"<Footnote
            client:only="react"
            caption="from Isamu Noguchi's autobiography"
            hoverImg="/footnotes/noguchi-art-as-engineering.jpeg"
          />, design that provokes and instigates, and artifacts that entangle
          with our everyday lives and each other.
        </p>
        <p>
          In all I do, I try to create <a
            href="https://www.youtube.com/watch?v=l-2t-N96Bn8"
            >perpetual energy</a
          >, stewarding technology and the internet towards a medium for
          collective flourishing, rather than institutional control.
        </p>
        <Signature client:only="react" />
        <br />
        <NowBlock client:only="react" />
        <br />
        <Status />
      </div>
    </div>
    <!-- BODY -->
    <!-- TODO: replace this with kaleidoscope or feral.earth stuff -->
    <CreationsView
      creations={creations}
      description={"selected"}
      columns={2}
      client:only="react"
    />
  </div>
</BaseLayout>
