---
import EmailEmbed from "../components/EmailEmbed.astro";
import { getCollection } from 'astro:content';
import SocialMediaLinks from "../components/SocialMediaLinks.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import {CreationsView} from "../components/views/CreationsView";
import Trinkets from "../components/Trinkets.astro";

const location = await fetch("https://status.spencerchang.me/api/metadata").then((res) => res.json());

const creations = (await getCollection('creation')).filter(c => Boolean(c.data.heroImage) && c.data.featured).sort(
	(a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<BaseLayout includeMarquee={true}>
  <div class="two-columns">
    <div class="headerContainer home textContent">
      <!-- TODO(spencer): insert kaleidescope here? -->
      <!-- <h1 id="siteTitle" title="hi! hover around other parts of the site and you might find other hidden treasures.">
        spencer chang
        <PersonalEmoji/>
      </h1> -->
      <div class="textContent">
    <p>Hi, I'm Spencer. Thanks for visiting my internet home.</p>
    <!-- TODO: change asterisk to footnote -->
      <p>I'm interested in creating technological approaches that nurture interdependence and human agency. My in(ter)dependent<span title="thank you to Marcel Goethals https://twitter.com/wolkenmachine?lang=en for this term">*</span> and interdisciplinary practice as an engineer and artist spans open-source infrastructure, internet art, and computing-infused objects.</p>
      <p>In all I do, I try to be an "internet caretaker"<a href="/about">*</a>, stewarding the internet towards a space that enables us to not only love & support each other but also create & dream together.</p>
          <div class="signature">
            <div class="signatureContent" style="margin-left:auto">
          <!-- TODO: hover over for photo in lil modal? -->
          <div class="serif">Spencer 張正 Chang<br/>spencerc99@gmail.com</div>
          <img can-spin id="stamp" class="stamp" src="/assets/name-stamp.png" title="this is my name stamp. my chinese name is 張正, 正 being my given name. 正 has many meanings: just, right, 5 if marking tallies on a food ordering sheet, proper, main, positive (for numbers). this animation was made on winter solstice and inspired by the scene from avatar the last airbender where aang opens the door to visit avatar roku during the winter solstice."/>
          <SocialMediaLinks/>
          </div>
        </div>
        <br/>
        <div style="position: relative; display:inline-block"> <span id="new">NEW</span> Open to <a href="/collab">collaborations</a></div>
        <div class="hideMedium">        <p>Below, you'll find my selection of live furniture. Visitors can change them, and I'll move them around every time I visit my website. The more of a regular you are, you might 
          just find that you get extra privileges with these items...</p>
        </br>
        <Trinkets/></div>
      </div>
    </div>
    <!-- BODY -->
    <!-- TODO: replace this with kaleidoscope or feral.earth stuff -->
    <CreationsView creations={creations} description={'selected'} client:only="react"/>
    <!-- <div>        <p>Below, you'll find my selection of live furniture. Visitors can change them, and I'll move them around every time I visit my website. The more of a regular you are, you might 
          just find that you get extra privileges with these items...</p>
        </br>
        <Trinkets/></div> -->
        </div>
  </div>
<!-- window embeds -->
<!-- TODO: need to fix scroll hijacking and the perf -->
<!-- <div class="window" style="left: 1%; top:23%;"><iframe src="https://spencerchang.me/window#sky"></iframe></div>
<div class="window" style="right: 2%; top:23%;"><iframe src="https://spencerchang.me/window#selfie"></iframe></div>
<div class="window" style="left: 2.5%; top:73%;"><iframe src="https://spencerchang.me/window#vignette"></iframe></div> -->
</BaseLayout>
