---
import EmailEmbed from "../components/EmailEmbed.astro";
import SocialMediaLinks from "../components/SocialMediaLinks.astro";
import DetailLayout from "../layouts/DetailLayout.astro";

const LayoutProps = {
    title: "(newsletter)",
    description: "follow me...",
    date: "2024-04-11",
    image: "/newsletter.png",
    emojis: [],
  titleClass: 'uniform'
}
---

<DetailLayout {...LayoutProps}>
    <div class="listDescription textContent" style={{gap: ".5em"}}>
        <p>Subscribe to my newsletter for updates. No spam and relatively interesting content—I promise.</p>
        <EmailEmbed/>
        <SocialMediaLinks/>
        </div>
</DetailLayout>
