---
import FriendsRing from "../components/FriendsRing.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <div class="headerContainer">
    </div>
    <div class="mainContainer" style="padding-top: 5em; gap:2em;">
        <h1>the people who make my work possible</h1>
        <p>my endless gratitude for all my sponsors, current and past, for enabling what I do.</p>
        <!-- TODO: show all sponsors -->
            
    </div>
</BaseLayout>
