---
import FriendsRing from "../components/FriendsRing.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <div class="headerContainer">
    </div>
    <div class="mainContainer" style="padding-top: 5em; gap:2em;">
        <h1>the people who make my work possible</h1>
        <p>my endless gratitude for all my sponsors, current and past, for enabling what I do.</p>
        <!-- TODO: show all sponsors -->
    
        <div class="ctaBtns">
  <a href="https://github.com/sponsors/spencerc99" class="button" target="_blank"><button id="sponsorBtn">Sponsor me <i class='uil uil-github'></i></button></a>
  <a href="https://buymeacoffee.com/spencerchang" class="button" target="_blank"><button id="coffeeBtn" >Tip me 🥚s</button></a>
  </div>
    </div>
</BaseLayout>
