---
import { Stats } from "../trinkets/Stats";
import { ClockEmbed } from "../ClockEmbed";
import HeaderActions from "../header/HeaderActions.astro";
import SocialMediaLinks from "../SocialMediaLinks";
---

<nav id="sidebar">
  <div class="sidebarContainer">
    <div style="display: flex; justify-content: center;">
      <ClockEmbed client:only="react" size={100} />
    </div>
    <a href="/" class="avatarLink">spencer chang</a>
    <HeaderActions />
    <div>Collections</div>
    <a href="/fits">fits 🧢</a>
    <a href="shrine.computer">shrine.computer</a>
    <a href="shrine.computer">playhtml.fun</a>
    <a href="shrine.computer">internetsculptures.com</a>
    <a href="shrine.computer">internetsculptures.com</a>
    <a href="shrine.computer">htmls.garden</a>
    <div style="margin-top: auto"></div>
    <SocialMediaLinks />
    <Stats client:only="react" />
  </div>
</nav>
