.creation-media-carousel {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
}

.carousel-container {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.active {
    opacity: 1;
  }
}

.carousel-media {
  width: 100%;
  height: 100%;
  object-fit: cover;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-caption {
  font-style: italic;
  font-size: 1em;
  color: inherit;
}

.carousel-title {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.carousel-year {
  font-style: italic;
}
