---
import type { CollectionEntry } from 'astro:content';
import BaseHead from './BaseHead.astro';
import Header from './header/Header.astro';
import Footer from './Footer.astro';
import FormattedDate from './FormattedDate.astro';

type Props = CollectionEntry<'creations'>['data'] & {
  id: string;
};

const { title, description, date, heroImage, ongoing, id } = Astro.props;
const link = `/creations/${id}`;
---

<div class="creationSummary" can-move selector-id=".creations .creationSummary">
        <img src={heroImage} class='registryImage' loading="lazy" />
            <!-- link to detail -->
            <div class="creationSummaryTitle">
              <a href={link}>
                <h2>{title}</h2>
              </a>
            </div>
</div>
