@import "../styles/global.scss";
@import "../styles/variables.scss";

.footnote-container {
  position: relative;
  display: inline-flex;
}

.footnote-md {
  @extend .footnote-caption;
  p {
    @extend .footnote-caption;
  }
}

.footnote {
  vertical-align: super; // Superscript styling for the asterisk or image
  text-decoration: none !important;
  display: inline;
  font-size: 90%;
  &.hasHover {
    text-shadow: 0 0 4px var(--color-glowing-highlight);
    filter: drop-shadow(0 0 3px var(--color-glowing-highlight));
  }
}

// TODO: this doesn't look great on mobile..
.hover-node {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: var(--color-background-lavender);
  border: 1px solid #ccc;
  border-radius: 8px;
  color: var(--color-text-color);
  box-shadow: 0 2px 10px var(--color-box-shadow);
  // SAME AS .medium image
  max-width: 600px;
  border-radius: 0.25em;
  width: fit-content;
  min-width: 150px;
  gap: 6px;

  .footnote-caption {
    font-size: 14px;
    font-family: $site-font;
    padding: 0.25em 0.4em;
    padding-bottom: 0.4em;
    text-align: left;
    line-height: 1;
    margin: 0;
  }

  .footnote-hover-image {
    @extend .small !optional;
    @include media(xsmallScreen, smallScreen) {
      max-width: 200px !important;
    }
  }
}

.footnote img {
  max-width: 24px; // Adjust size to look like an icon
  max-height: 24px; // Adjust size to look like an icon
  margin-left: 0.1em;
  border-radius: 4px;
}
