---
import { shuffleArray } from '../utils';
interface Props {
    emojis?: string[];
    inline?: boolean;
    hideWee?: boolean;
}

// TODO: can we support custom svgs and icons?
const defaultEmojis = ['ðŸŽ‹', 'ðŸ‚', 'ðŸŒ‘', 'ðŸª¸', 'ðŸŒ€'];
const { inline, hideWee, emojis: inputEmojis } = Astro.props;
const emojis = inputEmojis || defaultEmojis;

shuffleArray(emojis);

---
{emojis.length > 0 ? <div class={`emojiContainer ${inline ? 'inline' : ''}`}><button id="emoji" ></button></div> : null}
{!hideWee && <div class="clickme">weee</div>}
    

<script define:vars={{emojis}}>
    document.getElementById('emoji')?.addEventListener('click', updateEmoji)
    var idx = 0;
    function updateEmoji() {
        if (!document.getElementById('emoji')) {
            return;
        }
        let randomEmoji = emojis[idx];
        document.getElementById('emoji').innerHTML = randomEmoji;
        idx = (idx + 1) % emojis.length;
    }
    updateEmoji();
</script>
