.activities {
  .date {
    &:hover {
      .epoch {
        display: none;
      }

      .timestamp {
        display: inherit;
      }
    }

    .timestamp {
      display: none;
    }

    cursor: zoom-in;
  }
}

.status-container {
  .feed-card {
    height: 100%;
    width: 400px;
  }
}
