.activities {
  .date {
    &:hover {
      .epoch {
        display: none;
      }

      .timestamp {
        display: inherit;
      }
    }

    .timestamp {
      display: none;
    }

    cursor: zoom-in;
  }
}

.status-container {
  height: 100%;

  .feed-card {
    height: 100%;

    .window-content {
      padding: 0;
    }
  }
}
