---
import "./Status.scss";
import { StatusCarousel } from "./StatusCarousel";
import { FeedCard } from "./FeedCard";
---

<div class="status-container">
  <FeedCard title="LIVE" icon="📡" client:only="react">
    <StatusCarousel client:only="react" />
  </FeedCard>
</div>
