---
import FriendsRing from "./FriendsRing.astro";
import { ClockEmbed } from "./ClockEmbed";
import { Vignette } from "./interactive/Vignette";
import "../styles/tailwind.css";
import { Stats } from "./trinkets/Stats";
---

<!-- window of window -->
<div class="trinket">
  <ClockEmbed client:only="react" />
  <em>my website clock</em>
</div>

<div class="trinket">
  <Vignette client:only="react" />
</div>

<div class="trinket">
  <FriendsRing />
  <br />
  <em>my friends webring</em>
</div>

<!-- tv of sliding i want to remember this -->
<!-- <div id="tv">
          <img src="macbook.png"/> -->
<!-- arena channel -->
<!-- </div> -->

<!-- computer of garage -->
<!-- record -->
<!-- polaroid of latest "i love living" ? -->
<!-- <Polaroid client:only="react" imgSrc="texture.jpeg"/>  -->
<!-- "boil water" -->
<!-- "make tea" -->
<!-- "pick cursor" (all of these configure your cursor..?) -->
<!-- table with book -->
<!-- writing desk -->
<!-- some sort of plant that grows and can be watered -->
<!-- cyanotype -->
<!-- </div> -->
