---
import FriendsRing from "./FriendsRing.astro";
import {ClockEmbed} from "./ClockEmbed";
import {Polaroid} from "./Polaroid";
---

<div id="trinkets">
  <div class="trinket">
    <img
  class="lamp"
  id="lamp-akari"
  src="/assets/noguchi-akari-1at.png"
  can-toggle
  title="this is one of my favorite Noguchi lamps..."
/>
    <em>a favorite Noguchi lamp</em>
  </div>
        <!-- window of window -->
        <div class="trinket">
        <div can-spin id="window" title="" style="background: rgb(0, 150, 255);display:flex;flex-direction:column;border-radius:8px;box-shadow:rgba(0, 0, 0, 0.133) 0px 0px 8px 0px;width: 100%;margin: auto 0px;padding:10px;position:relative;justify-content:center; transform: rotate(-7deg); max-width: 250px;">
          <div style="position:relative;width: inherit;"><img width="200" loading="lazy" src="https://i.imgur.com/mJxf0Yz.jpg" style="width: inherit;object-fit:cover;" />
              <div style="position:absolute;z-index:1;top:1px;right:-1px;font-size:8px;font-family:'Press Start 2P', cursive;color:rgb(249, 184, 91);backdrop-filter:blur(2px);line-height:16px;padding:0px 3px;border-radius:0px 0px 0px 4px;background:rgba(0, 0, 0, 0.4) none repeat scroll 0% 0% / auto padding-box border-box;">12:25:03 11/05/2023</div>
          </div>
          <div style="background: rgb(0, 150, 255);position:absolute;font-family:Orbitron;border-radius:4px;bottom:-20px;width: 110%;left:-12px;z-index:2;display:flex;justify-content:center;padding:0px .5em; font-size: 18px;">sky</div>
      </div>
      <em style="margin-top: 1em">the last photo of the sky I took</em>
      </div>

      <div class="trinket">
      <FriendsRing/>
      <br/>
      <em>my friends webring</em>
    </div>
      
      <div class="trinket">
      <ClockEmbed client:only="react"></ClockEmbed>
      <em>my website clock</em>
      </div>
        
      <!-- tv of sliding i want to remember this -->
        <!-- <div id="tv">
          <img src="macbook.png"/> -->
          <!-- arena channel -->
        <!-- </div> -->
        
        <!-- computer of garage -->
        <!-- record -->
        <!-- polaroid of latest "i love living" ? -->
        <!-- <Polaroid client:only="react" imgSrc="texture.jpeg"/>  -->
  <!-- "boil water" -->
        <!-- "make tea" -->
        <!-- "pick cursor" (all of these configure your cursor..?) -->
        <!-- table with book -->
        <!-- writing desk -->
        <!-- some sort of plant that grows and can be watered -->
        <!-- cyanotype -->

</div>
