@import "../styles/mixins.scss";

.creationDetail {
  iframe,
  .iframeWrapper {
    min-height: 800px;
    max-width: 950px !important;
    width: 100%;
    object-fit: contain;
  }
  .iframeWrapper {
    display: flex;
    flex-direction: column;
  }
  iframe.movieEmbed {
    border: none;
    height: 100%;
    min-height: unset !important;
    width: 100%;
  }

  video,
  img {
    @include image-dropshadow();

    transition: opacity 0.15s linear;
    &.loading {
      animation: pulse-opacity 1.3s infinite ease-in-out;
    }
  }
  .iframeWrapper iframe,
  .hero-image {
    width: 100%;
    max-width: calc(min(950px));
  }

  .iframeWrapper iframe,
  .hero-image img,
  video {
    // max-width: max-content;
    // max-width: calc(min(1200px, 40vw));
    // max-height: calc(min(800px, 50vh));
    display: block;
    border-radius: 0.5em;
    object-fit: cover;
  }

  width: 100%;
  margin: 0;
  margin-top: 4em;

  padding-right: 2em;
  max-width: 2400px;

  .creationTitle {
    display: inline-flex;
    width: fit-content;
    gap: 0.2em;
  }

  @include media(xsmallScreen, smallScreen) {
    margin-top: 3em;

    .prose {
      p:nth-child(2) {
        margin-top: 0;
      }
      // Seems to be an extra paragrph
      p:last-child {
        margin-top: 0;
      }
      p:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }

    .header {
      margin-bottom: 0.5em;
    }
  }

  .prose {
    max-width: $viewport-width;
  }
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 0.5em 0;
    h2 {
      line-height: 1;
    }
  }
  .header h2 {
    font-family: "VT323", monospace;
    font-size: 2em;
  }
  .date {
    display: flex;
    @include meta-content();
  }
  .last-updated-on {
    font-style: italic;
  }

  .content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3em;
    width: 100%;
    @include media(xsmallScreen, smallScreen, mediumScreen, largeScreen) {
      gap: 1em;
    }
    @include media(xsmallScreen, smallScreen, mediumScreen) {
      grid-template-columns: 1fr;
    }

    .images {
      max-width: 1200px;
      margin-top: 1em;
      padding-bottom: 4em;

      img {
        // width: 100%;
        border-radius: 0.25em;
      }
    }
  }

  .hero-container-mobile {
    display: none;
    @include media(xsmallScreen, smallScreen, mediumScreen) {
      display: block;
    }
  }

  .hero-container-desktop {
    display: none;
    @include media(largeScreen, xlargeScreen) {
      display: block;
    }
  }
}
